<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<properties resource="config/jdbc.properties">
	</properties>
	<!-- 框架运行行为信息 -->
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	
	<!-- 定义全限定类名的别名，简化配置 -->
	<typeAliases>
		
	</typeAliases>
	
	<environments default="MYSQL">
		<environment id="MYSQL">
			<transactionManager type="JDBC">
			</transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

  
	<mappers>
		<!-- <mapper resource="com/mct/dao/UserMapper.xml" /> -->
		<package name="com.mct.dao"/>
	</mappers>
</configuration>