<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mct.dao.UserMapper">
	
	<insert id="insert" parameterType="UserInfoModel">
		insert into test_user (id, name) values(
		#{id},#{name} 
		)
	</insert>
	
	
	<delete id="del" parameterType="UserInfoModel">
		delete from test_user where id = #{id}
	</delete>
	
	
	<update id="update" parameterType="UserInfoModel">
		update test_user set		
			<if test="name != null">
				name = #{name}
			</if>
		where id = #{id}
	</update>
	
	
	<select id="get" parameterType="UserInfoModel" resultType="UserInfoModel">
		select id, name from test_user where 1=1
		
			<if test="id!= null">
				and id = #{id}
			</if>
			<if test="name != null">
				and name = #{name}
			</if>
	</select>
	
</mapper>